{% extends "base.html" %}

{% block title %} Edit Order {% endblock %}

{% block content %}

<p><strong>Edit Order</strong></p>

<table border="1" cellpadding="5"></tableborder>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->

        {% for key in orders[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for item in orders %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in item.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{item[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br />
{% endblock %}

{% block form %}

<!-- Form -->
<div id="container">
    <form method="POST" id="new_order">
        <br />
        <div class="form-group">
          <label for="employee_selection">Select Employee</label>
          <select name="employee_selection" form="new_order">
            {% for item in dropdown_employee %}
              <option value="{{item['id']}}">{{item['first']}} {{item['last']}}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <div class="form-group">
          <label for="customer_selection">Select Customer</label>
          <select name="customer_selection" form="new_order">
            {% for item in dropdown_customer %}
              <option value="{{item['id']}}"">{{item['first']}} {{item['last']}}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <div class="form-group">
            <label for="orderdate">Order Date</label>
            <input type="date" class="form-control" id="orderdate" name="orderdate" placeholder="Enter order date">
        </div>
        <div class="form-group">
            <label for="cnum">Credit Card Number</label>
            <input type="cnum" class="form-control" id="cnum" name="cnum" placeholder="Enter credit card number">
        </div>
        <div class="form-group">
            <label for="ofulfill">Order Fulfilled</label>
            <input type="number" class="form-control" id="ofulfill" name="ofulfill" placeholder="Enter order fulfilled" min="0" max="1">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}