<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="update">
    <form method="POST" id="">
        <legend><strong>Update Order</strong></legend>
        <fieldset class="fields">
            <label> ID: </label> X
            <br></br>
            <label> customer id </label> <input type="text" name="fname" value="">
            <!-- <label> employee id </label> <input type="text" name="fname" value=""> -->
            <br></br>
            <label for="employeeId"> assigned employee </label>
            <select name="employeeId" id="eid">
                <option value="0">None</option>
                <option value="1">Erling Haaland</option>
                <option value="2">Harry Kane</option>
                <option value="3">Darwin Nunez</option>
            </select>

            <br></br>
            <label> credit card </label> <input type="text" name="fname" value="">
            <br></br>
            <label> order date </label> <input type="text" name="fname" value="">
            <br></br>
            <label> order fulfilled </label> <input type="text" name="fname" value="">

            <br></br>
            <input class="btn" type="submit" id="" value=" Update ">
            <input class="btn" type="button" value="cancel"  >
    </form>
</div><!-- update -->

</body>
</html>