<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="update">
    <form method="POST" id="">
        <legend><strong>Update Customer</strong></legend>

        <fieldset class="fields">
            <label> ID: </label> X
            <br></br>

            <label> first name </label> <input type="text" name="fname" value="">
            <br></br>

            <label> last name </label> <input type="text" name="fname" value="">
            <br></br>
            <label> street name </label> <input type="text" name="fname" value="">
            <br></br>
            <label> city name </label> <input type="text" name="fname" value="">
            <br></br>
            <label> state name </label> <input type="text" name="fname" value="">
            <br></br>
            <label> phone  </label> <input type="text" name="fname" value="">
            <br></br>

            <input class="btn" type="submit" id="" value=" Update ">
            <input class="btn" type="button" value="cancel"  >
    </form>
</div><!-- update -->



</body>
</html>