{% extends "base.html" %}

{% block title %} Edit Order Item {% endblock %}

{% block content %}

<p><strong>Edit Order Item</strong></p>

<table border="1" cellpadding="5"></tableborder>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->

        {% for key in order_items[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for item in order_items %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in item.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{item[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br />
{% endblock %}

{% block form %}

<!-- Form -->
<div id="container">
    <form method="POST" id="new_order">
        <br />
        <div class="form-group">
          <label for="order_selection">Select Order ID</label>
          <select name="order_selection" form="new_order">
            {% for item in dropdown_order %}
              <option value="{{item['order_id']}}">{{item['order_id']}}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <div class="form-group">
          <label for="movie_selection">Select Movie</label>
          <select name="movie_selection" form="new_order">
            {% for item in dropdown_movie %}
              <option value="{{item['movie_id']}}"">{{item['title']}}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <div class="form-group">
            <label for="quantity">Enter quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </form>
</div>
{% endblock %}