{% extends "base.html" %}

{% block title %} Customers {% endblock %}

{% block content %}


<p><strong>Browse Customers</strong></p>

<table border="1" cellpadding="5"></tableborder>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        <th><a href="new/new_customer.html">New</a></th> <!-- TODO -->
        <th><a href="new/new_customer.html">New</a></th> <!-- TODO -->
        {% for key in customers[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for person in customers %}
    <tr>
        <td><a href="edit/edit_customer.html">Edit</a></td> <!-- TODO -->
        <td><a href="delete/delete_customer.html">Delete</a></td> <!-- TODO -->
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in person.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{person[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

{% endblock %}