{% extends "base.html" %}

{% block title %} Browse Employees {% endblock %}

{% block content %}

<p><strong>Employees</strong></p>

<table border="1" cellpadding="5"></tableborder>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        <th><a href="#"></a></th> 
        <th><a href="#"></a></th> 
        {% if employees|length > 0 %}
            {% for key in employees[0].keys() %}

            <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
            <th>{{ key }}</th>

            <!-- End of this for loop -->
            {% endfor %}
        {% endif %}

    </tr>
    <tbody>

    <!-- Now, iterate through every row -->
    {% for person in employees %}
    <tr>
        <td><a href="edit_employee/{{person.id}}">Edit</a></td> 
        <td><a href="delete_employee/{{person.id}}">Delete</a></td> 
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in person.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{person[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br />
{% endblock %}

{% block form %}

<!-- Form -->
<div id="container">
    <form method="POST" id="New_Person">
        <br />
        <p><strong>Search Name</strong></p>
        <div class="form-group">
            <label for="qname">Search Name</label>
            <input type="text" class="form-control" id="qname" name="qname" placeholder="Enter name to search">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}