{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<img src="../static/images/spaceship.jpg" width="480" height="270">
    <div>
        <p><strong>Gorak's Movie Delivery database management</strong></p>
        <p>
            Note to reviewers: employees on Orders nullable, 
            select dropdown implemented for a select search filter on New Orders
        </p>
        <a href="/reset_wait">
            <button type="button" class="btn btn-primary">Reset DB</button>
        </a>
        <br />
        <br />
    </div>

{% endblock %}