{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<br />
<img src="../static/images/spaceship.jpg" width="480" height="270">
    <div>
        <p><strong>Gorak's Movie Delivery database management</strong></p>
        <p>
            Note to reviewers: Employees is the only entity with all
            CRUD functionalities implemented. Read (displaying table based on 
            current database state) is implemented on all entities.
        </p>
        <a href="/reset_wait">
            <button type="button" class="btn btn-primary">Reset DB</button>
        </a>
        <br />
        <br />
    </div>

{% endblock %}