{% extends "base.html" %}

{% block title %} Browse Movies {% endblock %}

{% block content %}

<p><strong>Movies</strong></p>

<table border="1" cellpadding="5"></tableborder>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        <th><a href="#"></a></th> 
        <th><a href="#"></a></th> 
        {% if movies|length > 0 %}
            {% for key in movies[0].keys() %}

            <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
            <th>{{ key }}</th>

            <!-- End of this for loop -->
            {% endfor %}
        {% endif %}

    </tr>
    <tbody>

    <!-- Now, iterate through every row -->
    {% for item in movies %}
    <tr>
        <td><a href="edit_movie/{{item.movie_id}}">Edit</a></td> 
        <td><a href="delete_movie/{{item.movie_id}}">Delete</a></td> 
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in item.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{item[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br />
{% endblock %}

{% block form %}

<!-- Form -->
<div id="container">
    <form method="POST" id="New_Item">
        <br />
        <p><strong>Add Movie</strong></p>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="stock">Last Name</label>
            <input type="number" class="form-control" id="stock" name="stock" min="0" placeholder="Enter stock">
        </div>
        <div class="form-group">
            <label for="price">Street Name</label>
            <input type="text" class="form-control" id="price" name="price" step="0.01" placeholder="Enter price">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}