{% extends "base.html" %}

{% block title %} Browse Performances {% endblock %}

{% block content %}

<p><strong>Performances</strong></p>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Delete</th>
            <th>Performance ID</th>
            <th>Movie Title (ID)</th>
            <th>Actor ID</th>
        </tr>
    </thead>
    <tbody>
        {% for performance in performances %}
        <tr>
            <td><a href="edit_performance/{{ performance.performance_id }}">Edit</a></td>
            <td><a href="delete_performance/{{ performance.performance_id }}">Delete</a></td>
            <td>{{ performance.performance_id }}</td>
            <td>{{ performance.movie_title }} ({{ performance.movie_id }})</td>
            <td>{{ performance.actor_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />

{% endblock %}

{% block form %}

<div id="container">
    <form method="POST" id="New_Person">
        <br />
        <p><strong>Add Performances</strong></p>
        <div class="form-group">
            <label for="movie_id">Select Movie</label>
            <select class="form-control" id="movie_id" name="movie_id">
                {% for movie in movies %}
                    <option value="{{ movie.movie_id }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="actor_id">Select Actor</label>
            <select class="form-control" id="actor_id" name="actor_id">
                {% for actor in actors %}
                    <option value="{{ actor.actor_id }}">{{ actor.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br /><br />
    </form>
</div>

{% endblock %}
