{% extends "base.html" %}

{% block title %} Browse Performances {% endblock %}

{% block content %}

<p><strong>Performances</strong></p>

<table border="1" cellpadding="5"></tableborder>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        <th><a href="#"></a></th> 
        <th><a href="#"></a></th> 
        {% if performances|length > 0 %}
            {% for key in performances[0].keys() %}

            <!-- Create a <th> tag with the key inside of it, this will be
            our header row -->
            <th>{{ key }}</th>

            <!-- End of this for loop -->
            {% endfor %}
        {% endif %}

    </tr>
    <tbody>

    <!-- Now, iterate through every row -->
    {% for person in performances %}
    <tr>
        <td><a href="edit_performance/{{person.performance_id}}">Edit</a></td> 
        <td><a href="delete_performance/{{person.performance_id}}">Delete</a></td> 
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in person.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{person[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br />
{% endblock %}

{% block form %}

<!-- Form -->
<div id="container">
    <form method="POST" id="New_Person">
        <br />
        <p><strong>Add Performances</strong></p>
        <div class="form-group">
            <label for="movie_id">Movie ID</label>
            <input type="number" class="form-control" id="movie_id" name="movie_id" placeholder="Enter movie id">
        </div>
        <div class="form-group">
            <label for="actor_id">Street Name</label>
            <input type="number" class="form-control" id="actor_id" name="actor_id" placeholder="Enter actor id">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </form>
</div>

{% endblock %}